.first {
	position: relative;

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100dvh;
		padding: 50px 0;
	}

	&__title {
		margin: 0;
		padding: 0;
		font-size: 45px;

		&:not(:last-child) {
			margin-bottom: 30px;
		}

		@media (max-width: 550px) {
			font-size: 38px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1 1 auto;
	}

	&__text {
		padding: 0;
		margin: 0;
		font-size: 35px;
		text-align: center;

		&:not(:last-child) {
			margin-bottom: 15px;
		}

		@media (max-width: 550px) {
			font-size: 30px;
		}
	}

	&__input-box {
	}

	&__selector {
	}

	&__btn {
		display: block;
		width: 267px;
		margin: 0 auto;
		padding: 10px 15px;
		font-size: 30px;
		background: #50403b;
		color: #e2cfa8;
		border: none;
		border-radius: 5px;
		outline-color: #e2cfa8;
		transition: all 0.3s;

		&:hover {
			transform: scale(1.05);
		}
	}

	&__result {
		background: #e2cfa8;
		border: 2px solid #50403b;
		margin: 0 auto;
		padding: 10px 15px;
		max-width: 300px;
		min-height: 100px;
		text-align: center;

		span {
			display: block;
			font-weight: 700;
			margin-top: 10px;
		}
	}
}

.input-box {
	display: flex;
	gap: 0 15px;

	&:not(:last-child) {
		margin-bottom: 30px;
	}

	@media (max-width: 550px) {
		flex-wrap: wrap;
		gap: 10px;
	}

	&__column {
		flex: 1;

		label {
			display: block;
			text-align: center;
		}

		@media (max-width: 550px) {
			flex: 0 1 48%;
		}
	}

	&__input {
		width: 100%; // чтобы ширина инпутов по умолчанию не блокировала нам возможность уменьшать ширину контейнера
		margin: 10px 0 0 0;
		padding: 10px 15px;
		text-align: center;
		border: 5px double #50403b;
		border-radius: 5px;
		outline-color: #b46a18;
		background: #e2cfa8;
		color: #2c2b29;
	}
}

.selector {
	position: relative;
	flex: 1 1 auto;

	&:not(:last-child) {
		//margin-bottom: 20px;
		margin-bottom: 80px;
	}

	&.active {
		.selector__input-box {
			&::after {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}

	&__input-box {
		position: relative;

		// стрелочка на селекторе
		&:after {
			content: "";
			pointer-events: none; //! скрывает возможность клика по элементу
			position: absolute;
			top: 50%;
			right: 20px; // на глаз
			width: 20px; // на глаз
			height: 20px; // на глаз
			transform: translateY(-50%);
			background: url("../images/selector-arrow.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			transition: all 0.3s;
		}
	}

	&__input {
		text-align: center;
		padding: 10px 15px;
		border: 5px double #50403b;
		border-radius: 5px;
		outline-color: #b46a18;
		background: #e2cfa8;
		color: #2c2b29;
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		z-index: -1; //! ОБЯЗАТЕЛЬНО, а то список не скрывается полностью почему-то
		width: 100%;
		max-height: 140px; // на глаз, просто чтобы выглядело норм. Использовать именно max-height, чтобы если пунктов меню будет меньше, высота уменьшалась пропорционально
		overflow: auto;
		background: #e2cfa8;
		border: 5px double #50403b;
		border-radius: 5px;
		visibility: hidden;
		opacity: 0;
		transition: all 0.5s;

		&.active {
			visibility: visible;
			opacity: 1;
			z-index: 2;
		}
	}

	&__list-item {
		&:not(:last-child) {
			border-bottom: 5px double #50403b;
		}
	}

	&__btn {
		width: 100%;
		border: none;
		cursor: pointer;
		padding: 10px 15px;
		background: #e2cfa8;
		color: #2c2b29;
		transition: all 0.3s;

		&:focus {
			outline-color: #b46a18;
		}

		&:hover {
			//background: #b46a18;
			background: #c7863b;
		}

		&.active {
			background: #c7863b;
		}
	}
}

.modal-box {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 3rem; // на глаз

	/* ЭТИ СТИЛИ ВАЖНЫ ДЛЯ ТОГО, ЧТОБЫ СПРЯТАТЬ МОДАЛКУ */
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.modal {
	text-align: center;
	position: fixed; //! обязательно fixed, чтобы модалка появлялась по центру экрана относительно того места, где ты её вызываешь
	left: 50%;
	width: 400px; // на глаз
	background: #e2cfa8;
	border-radius: 5px;
	padding: 2rem; // на глаз

	display: flex;
	flex-direction: column;
	gap: 15px;

	/* ЭТИ СТИЛИ ВАЖНЫ ДЛЯ ТОГО, ЧТОБЫ СПРЯТАТЬ МОДАЛКУ */
	top: -100%;
	transform: translate(-50%, -50%);
	transition: all 0.5s;

	&.active {
		top: 50%;
	}

	@media (max-width: 550px) {
		padding: 32px 10px;
		width: 300px;
	}

	&__result {
		padding: 0;
		margin: 0;

		span {
			font-size: 30px;
			margin-top: 10px;
			display: block;
			font-weight: 700;
		}
	}

	&__btn-close {
		align-self: center;
		width: 150px;
		padding: 10px 15px;
		border: none;
		border-radius: 5px;
		background: #50403b;
		color: #e2cfa8;
		outline-color: #e2cfa8;
		transition: all 0.3s;

		&:hover {
			transform: scale(1.05);
		}
	}
}
