@font-face {
	font-family: 'Chakra Petch';
	src: url('../fonts/ChakraPetch/ChakraPetch-Bold.eot');
	src: url('../fonts/ChakraPetch/ChakraPetch-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ChakraPetch/ChakraPetch-Bold.woff2') format('woff2'),
		 url('../fonts/ChakraPetch/ChakraPetch-Bold.woff') format('woff'),
		 url('../fonts/ChakraPetch/ChakraPetch-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Chakra Petch';
	src: url('../fonts/ChakraPetch/ChakraPetch-Medium.eot');
	src: url('../fonts/ChakraPetch/ChakraPetch-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ChakraPetch/ChakraPetch-Medium.woff2') format('woff2'),
		 url('../fonts/ChakraPetch/ChakraPetch-Medium.woff') format('woff'),
		 url('../fonts/ChakraPetch/ChakraPetch-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Chakra Petch';
	src: url('../fonts/ChakraPetch/ChakraPetch-Regular.eot');
	src: url('../fonts/ChakraPetch/ChakraPetch-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ChakraPetch/ChakraPetch-Regular.woff2') format('woff2'),
		 url('../fonts/ChakraPetch/ChakraPetch-Regular.woff') format('woff'),
		 url('../fonts/ChakraPetch/ChakraPetch-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

